{% extends 'base.html' %}
{% block title %}Welcome to my blog{% endblock %}

{% block content %}

    <div class="container">
      <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto">

            <h2>Top Posts</h2>
            {% if posts %}
                <ul>
                {% for post in posts %}
                    <li>
                        <div class="post-preview">
                            <a href="{{ post.get_absolute_url }}">
                                <h2 class="post-title">
                                    {{ post.title }}
                                </h2>
                            </a>
                            <p class="post-meta">
                                Posted on {{ post.posted }}
                            </p>
                        </div>
                        <hr>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>There are no posts.</p>
            {% endif %}

            <!-- Pager -->
            <div class="clearfix">
                <a class="btn btn-primary float-right" href="#">Older Posts &rarr;</a>
            </div>

            <h2>Categories</h2>
            {% if categories %}
                <ul>
                {% for category in categories %}
                    <li>
                        <a href="{{ category.get_absolute_url }}">
                            {{ category.title }}
                        </a>
                    </li>
                {% endfor %}
                </ul>
            {% else %}
                <p>There are no categories.</p>
            {% endif %}

        </div>
      </div>
    </div>

{% endblock %}